# .NET Core
bin/
obj/

# User-specific files
.vscode/
.idea/
*.user
*.userosscache
*.suo
*.userprefs

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer Logs
*.log

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# User-specific files for Visual Studio for Mac
.vscode/
.idea/

# .NET Core Debugging
.vscode/launch.json
.vscode/tasks.json

# ASP.NET Core & IIS
appsettings.Development.json
